@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh ;
  background-color: rgb(240,240,240);
}
#root{
  height: 100vh;
}
.form{
  height: 100vh;
  
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
