
    @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d9d9d9;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

/* custom css */
.hr_style{
  width: 30vw;
  height: 0.1rem;
  display: inline-block;
  border: black solid 0.5px;
}
.card_img{
  width: 32093px;

}
.page-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.page_links{
cursor: pointer;
color: rgb(73, 73, 239);
}
.profile-photo{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  background-color: royalblue;
}
.profile-name{
  font-size: 0.6rem;
  font-weight: 400;
  margin-left: 0.5rem;
}